{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <form class="login" action="index.html" method="post">
      <p>
        Name: <input id="name" type="text" name="name" value="">
      </p>
      <p>
        Password: <input id="password" type="password" name="name" value="">
      </p>

      <button id="login" type="button" name="button">Login</button> <a id="newUser" href="">or create new user</a>
    </form>

  </div>

{% endblock %}
